/* aboutus.css */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c36;
  padding: 2rem;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12rem; 
  margin-top: 4rem;
}

.about-text {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: left;
}

.about-image {
  display: flex;
  align-items: center;
}

.about-image img {
  width: 300px; 
  height: 300px; 
  margin-left: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition */
}

.about-image img:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2); 
  border: 2px solid white; 
}
